.navbar-rd {
  justify-content: space-between;
  background: transparent;
  padding: 10px 30px;
  width: 100%;
  transition: 0.5s background-color ease;
}

.navbar-rd .navbar-collapse {
  flex-grow: 0;
}

.navbar-rd {
  img {
    width: 200px;
  }
}

.navbar-links {
  a {
    color: white !important;
    font-size: 20px;
  }
}

.navbar-white {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(255, 255, 255,0));
  background-color: #FFF;
  opacity: 0.90;
  a {
    color: $main-color !important;
  }

}
