.navbar-rd {
  justify-content: space-between;
  background: transparent;
  padding: 10px 30px;
  width: 100%;
}

.navbar-rd .navbar-collapse {
  flex-grow: 0;
}

.navbar-rd {
  img {
    width: 200px;
  }
}

.navbar-links {
  a {
    color: white !important;
    font-size: 20px;
  }
}
