#about {
  height: 100vh;
  background-image: $bg-color;
  img {
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  }
  a {
    color: rgba(0,0,0,0.25);
    font-weight: bold;
    letter-spacing: -0.5px;
    font-size: 15px;
  }
}

.about-section {
}

.title {
  color: $main-color;
  text-transform: uppercase;
  font-size: 45px;
  margin-bottom: 40px;
  opacity: 0.9;
}

.images-container {
  display: flex;
  justify-content: space-around;
  height: 300px;
}

.image-container {
  width: 30%;
}

.bg-img {
  background-size: cover !important;
  background-position: center !important;
}

.member-description {
  color: white;
}
