#about {
  height: 100vh;
  background-image: $bg-color;
  img {
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  }
  a {
    letter-spacing: -0.5px;
  }
  p {
    text-shadow: none;
    margin: 0;
  }
}

.images-container, .image-container, .member-description {
  display: flex;
}

.about-section {
}


.images-container {
  justify-content: space-around;
  height: 300px;
}

.image-container {
  width: 30%;
  align-items: flex-end;
}

.bg-img {
  background-size: cover !important;
  background-position: center !important;
  // border-radius: 50%;
}

.member-description {
  justify-content: space-between;
  width: 100%;
  color: white;
  margin: 20px;
  span{
    padding-left: 10px;
  }
}

.contact-link{
  color: $main-color;
  text-decoration: none;
  &:hover{
   color: $main-color;
  }
}

.team-container {
  margin-top: 140px;
  margin-bottom: 70px;
}
