#about {
  height: 100vh;
  background-image: $bg-color;
  img {
    width: 150px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  }


  a {
    color: rgba(0,0,0,0.25);
    font-weight: bold;
    letter-spacing: -0.5px;
    font-size: 15px;
  }
}

