.form-container {
  background-image: url('../images/form-img.jpg');
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-large {
  margin-bottom: 30px;
  img{
    width: 200px;
  }
}

