#home {
  height: 100vh;
  width: 100%;
  color: black;
  p {
    font-size: 20px;
  }
}

.keys-container, .facts-container, .text-center, .fact,
.bg-image-home, .keys-container, .logos-container {
  display: flex;
}

.bg-image-home {
  height: 100%;
  width: 100%;
  background-size: cover !important;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.text-center {
  flex-direction: column;
  // margin-top: 400px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  color: white;
  h4 {
    font-size: 40px;
  }
}

.facts-container, .logos-container {
  justify-content: space-around;
}
.logo-facts {
  img{
    width: 40%;
   }
}
.fact {
  width: 20%;
  flex-direction: column;
  align-items: center;
   p {
    text-align: justify;
    font-size: 18px;
    margin-bottom: 40px;
   }
}

.mission-container, .contact-text {
  text-align: center;
}
.mission-container {
  padding: 140px 100px;
  font-size: 20px;
  h4 {
    font-size: 40px;
    margin-top: 50px;
  }
}

.keys-container {
  background: #FAFAFA;
  align-items: center;
  padding-bottom: 50px;
}

.img-key-section {
  // overflow: hidden;
  width: 50%;
  img {
    width: 800px;
  }
}
 .image-half {
  position: relative;
  left: -180px;
 }

.key-words-container {
  position: relative;

}

.key {
  // margin-right: 50px;
  margin-bottom: 50px;
  transition: all .2s ease-in-out;
  &:hover {
    color: $main-color;
   transform: scale(1.1);
  }
}

.logos-container {
  margin: 0 20px;
  img {
    width: 150px;
  }
}
.contact-text {
  text-align: center;
  font-size: 20px;
  h4{
    font-size: 40px;
    margin-bottom: 50px;
  }
}

.collabs-container {
  background-color: #FFF;
  padding: 30px 100px;
  p {
    // opacity: 0.8;
    font-size: 26px;
    color: black;
    opacity: 0.7;
    margin-left: 50px;
    margin-bottom: 30px;
  }
}

.counter{
  text-align: center;
  h4 {
    padding-top: 70px;
    font-size: 30px;
  }
}

.counter-blue{
  color: $main-color;
  font-size: 120px;
}

.key-description-container {
  padding-left: 50px;
  padding-right: 70px;
  p {
    font-size: 16px !important;
  }
}

.form-home {
  padding-top: 70px;
}
