#home {
  background-color: white;
  color: white;
  height: 100vh;
  width: 100%;
  text-align: center;
  color: black;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}

.bg-image-home {
  // background: asset-url(".source/bg-home.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.text-center {
display: flex;
flex-direction: column;
margin-bottom: 300px;
}

.facts-container {
  background: #008ED6;
}
