#home {
  background-color: white;
  height: 100vh;
  width: 100%;
  color: black;
  // p {
  //   margin-top: 1.5em;
  // }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}
.keys-container, .facts-container, .text-center, .bg-image-home, .keys-container, .logos-container {
  display: flex;
}

.bg-image-home {
  height: 100%;
  width: 100%;
  background-size: cover;
  justify-content: center;
  align-items: flex-end;
}

.text-center {
  flex-direction: column;
  margin-bottom: 300px;
}

.facts-container, .logos-container {
  justify-content: space-around;
}

.fact {
  width: 20%;
}

.mission-container, .contact-text {
  text-align: center;
}

.keys-container {
  background: rgba(237, 244, 247, 0.6);
  align-items: center;
}

.key {
  margin-right: 50px;
}

.contact-text {
  text-align: center;
}

.collabs-container {
  margin: 100px 0;
  p {
    margin-left: 50px;
    margin-bottom: 30px;
  }
}


