.banner, .text-section-left {
  display: flex;
}

.banner {
  justify-content: space-between;
}

.image-right {
  img {
    width: 570px;
  }
}

.text-section-left {
  width: 100%;
  justify-content: space-around;
  align-items: center;
  p {
    // font-weight: bolder;
    font-size: 20px;
    text-align: center;
  }

  h3 {
    padding-bottom: 30px;
    padding-top: 50px;
  }
}

.link-white {
  color: #FFF;
}

