<div class="footer ">
  <div style="font-size: 12pX">RARE DIAGNOSTICS</div>
  <div style="font-size: 10px">Terms and Condition</div>
  <div style="height: 0;">
    <i class="fab fa-linkedin"></i>
    <i class="fab fa-xing"></i>
  </div>
</div>
