<div class="form-container">
    <div class="logo-large">
    <%= image_tag 'logo1.png' %>
    </div>
  <form action="" class="form">
    <div class="form-group input">
      <label>Full name</label>
      <input type="text" placeholder="Enter your fullname"  class="form-control">
    </div>
    <div class="form-group input">
      <label for="">Email Address</label>
      <input type="email" placeholder="Enter your email" class="form-control">
    </div>
    <div class="form-group input">
      <textarea class="form-control" placeholder="Tell us why are you interested in Rare Diagnostic"></textarea>
    </div>
    <button type="submit" class="btn btn-form">Send</button>
  </form>
</div>
