<div id="home">
    <div class="bg-image-home" style="background-image: url(<%= image_path 'bg-home.jpg'%>)">
      <div class="text-center">
        <h4>Improving accuracy in rare diseases.</h4>
        <%= link_to "Test Prototype", "#", class: "btn" %>
      </div>
    </div>
    <div class="counter-container">
      <div class="counter">
        <p>123345445.4698095.</p>
        <p>Number of babies born with a rare disease today.</p>
      </div>
    </div>
    <div class="facts-container">
      <% %w(fact1, fact2, fact3, fact4).each do |fact|%>
      <div class="fact">
        <div calss="fact-text">I'm a fact</div>
        <div class="fact-icon"></div>
      </div>
      <% end %>
    </div>
    <div class="mission-container">
      Misdiagnosis on rare disease are frequent because physicians often navigate the uknown.
      We must find ways of reducing the time needed to identify the right diagnosis.
      Our goal is to increase efficiency and reliability in rare disease diagnosis.
      Here is how.
    </div>
    <div class="keys-container">
      <div class="img-key-section">
        <%= image_tag 'laptop.png' %>
      </div>
      <div class="key-words-container">
        <% %w(reliable, fast, informative, intuitive, private).each do |key| %>
        <p><%= key %></p>
        <% end %>
      </div>
      <div class="key-description-container">
        <p>I'm here when you hover</p>
      </div>
    </div>
    <div class="logos-container">
      <div class="img-logo">Logo1</div>
      <div class="img-logo">Logo2</div>
      <div class="img-logo">Logo3</div>
      <div class="img-logo">Logo4</div>
    </div>
    <div class="form-container">
      <div class="contact-text">
        <p>Let's talk!</p>
        <p>If you are motivated to help rare disease patients and are willing to contribute to Rare Diagnostics’ vision, drop us an email.
        </p>
        <p>
         Whether you want to join our team, learn more about the project, look for collaborations, or investment opportunities, we are happy to get in touch with you.
       </p>
       <!-- TO DO: form here -->
      </div>
    </div>
</div>
