<div class="learn-more">
  <div class="section-container">
    <div class="title">learn more</div>
    <div class="text-container">
      <p>
        Our assisting tool is designed to support physicians and health care providers to help identifying rare disease patients. Nowadays, nearly 400 rare diseases have a therapy.
      </p>
      <p>
        But due to the lack of diagnostic accuracy in these patients, many of them are suffering unnecessarily, because they do not get that treatment they need. We want to change that.
      </p>
      <p>
        The European Organization for Rare Diseases (EURORDIS) estimates that as many as 5,000 to 7,000 distinct rare diseases exist. Furthermore, 5 new rare disease are discovered every week.
      </p>
      <p>
        With all of this extensive knowledge about rare diseases, Rare wants to become a reliable, extended arm for physicians to diagnose rare diseases faster and more precise.
        By analyzing all occuring symptoms of the patient, our tool calculates the most likely diagnoses, based on symptom frequency and specificity.
      </p>
      <p>
        Moreover, the tool will suggest to evaluate other possible symptoms of the patient and gives a direct way to confirm the plausible diagnosis. As nearly 80% of rare disease are caused by a genetic mutation, our tool will provide genetic background information for each disease.
      </p>
    </div>
  </div>
    <div class="blue-container banner">
      <div class="text-section-left">
        <div>
          <p>Our prototype will be soon ready to test</p>
          <p> Sign up to have more information</p>
        </div>
      </div>
      <div class="image-right">
        <%= image_tag 'learn-more.jpg'%>
      </div>
    </div>
</div>
